In [1]:
import pandas as pd

# ìƒ˜í”Œ ë°ì´í„°í”„ë ˆì„ ìƒì„±
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'email': ['alice@example.com', 'bob@example.com', 'charlie@sample.net', 'david@website.org', 'eve@domain.com'],
    'description': ['Alice is a Data Scientist.', 'Bob is an Engineer.', 'Charlie is a Doctor.', 'David is a Lawyer.', 'Eve is an Artist.']
}
df = pd.DataFrame(data)
print(df)

      name               email                 description
0    Alice   alice@example.com  Alice is a Data Scientist.
1      Bob     bob@example.com         Bob is an Engineer.
2  Charlie  charlie@sample.net        Charlie is a Doctor.
3    David   david@website.org          David is a Lawyer.
4      Eve      eve@domain.com           Eve is an Artist.

In [2]:
## cat ë°ì´í„° ë¶™ì´ê¸°
df['name+email']=df['name'].str.cat(df['email'],sep='/')

In [3]:
## ë°ì´í„° ë‚˜ëˆ„ê¸°
df[['userid','domain']]=df['email'].str.split('@',expand=True)

In [4]:
## getìœ¼ë¡œ ë¬¸ìì˜ íŠ¹ì • ìœ„ì¹˜ê°’ì„ ê°€ì§€ê³  ì˜¬ ìˆ˜ ìˆë‹¤.
df['name'].str.get(0)

0    A
1    B
2    C
3    D
4    E
Name: name, dtype: object

In [5]:
## ìŠ¬ë¼ì´ìŠ¤
df['name'].str.slice(start=0, stop=2)

0    Al
1    Bo
2    Ch
3    Da
4    Ev
Name: name, dtype: object

In [6]:
## extract, ì •ê·œí‘œí˜„ì‹ ì¶”ì¶œ
df['email'].str.extract(r'@(\w+\.\w+)')

             0
0  example.com
1  example.com
2   sample.net
3  website.org
4   domain.com

In [7]:
df

,name,email,description,name+email,userid,domain
0,Alice,alice@example.com,Alice is a Data Scientist.,Alice/alice@example.com,alice,example.com
1,Bob,bob@example.com,Bob is an Engineer.,Bob/bob@example.com,bob,example.com
2,Charlie,charlie@sample.net,Charlie is a Doctor.,Charlie/charlie@sample.net,charlie,sample.net
3,David,david@website.org,David is a Lawyer.,David/david@website.org,david,website.org
4,Eve,eve@domain.com,Eve is an Artist.,Eve/eve@domain.com,eve,domain.com

In [8]:
# ì •ê·œí‘œí˜„ì‹ì— ì¼ì¹˜í•˜ëŠ” ëª¨ë“  ë¶€ë¶„ ì¶”ì¶œ extractall
df['description'].str.extractall(r'(\w+)')

                 0
  match
0 0          Alice
  1             is
  2              a
  3           Data
  4      Scientist
1 0            Bob
  1             is
  2             an
  3       Engineer
2 0        Charlie
  1             is
  2              a
  3         Doctor
3 0          David
  1             is
  2              a
  3         Lawyer
4 0            Eve
  1             is
  2             an
  3         Artist

In [9]:
# replace
df['description'].str.replace('is','')

0    Alice  a Data Scientt.
1         Bob  an Engineer.
2        Charlie  a Doctor.
3          David  a Lawyer.
4             Eve  an Artt.
Name: description, dtype: object

In [10]:
# find
df['description'].str.find('Artist')

0    -1
1    -1
2    -1
3    -1
4    10
Name: description, dtype: int64

In [11]:
#ë¬¸ìì—´ì´ í¬í•¨ë˜ì–´ ìˆëŠ”ì§€
#contains
df['description'].str.contains('Artist')

0    False
1    False
2    False
3    False
4     True
Name: description, dtype: bool

In [12]:
#loc ì´ë‘ ì‘ìš©í•˜ë©´ 
#& ë¬¸ìœ¼ë¡œ ë‹¤ì–‘í•˜ê²Œ ì—®ì„ ìˆ˜ ìˆë‹¤.
df.loc[df['description'].str.contains('Artist')]

,name,email,description,name+email,userid,domain
4,Eve,eve@domain.com,Eve is an Artist.,Eve/eve@domain.com,eve,domain.com

In [13]:
## get_dummies
## ì¸ì½”ë”©í•˜ëŠ” ì‘ì—…ìœ¼ë¡œ
df['domain'].str.get_dummies()

   domain.com  example.com  sample.net  website.org
0           0            1           0            0
1           0            1           0            0
2           0            0           1            0
3           0            0           0            1
4           1            0           0            0

In [14]:
df

,name,email,description,name+email,userid,domain
0,Alice,alice@example.com,Alice is a Data Scientist.,Alice/alice@example.com,alice,example.com
1,Bob,bob@example.com,Bob is an Engineer.,Bob/bob@example.com,bob,example.com
2,Charlie,charlie@sample.net,Charlie is a Doctor.,Charlie/charlie@sample.net,charlie,sample.net
3,David,david@website.org,David is a Lawyer.,David/david@website.org,david,website.org
4,Eve,eve@domain.com,Eve is an Artist.,Eve/eve@domain.com,eve,domain.com

In [ ]:
df[['description','userid']].str.contains('Artist')

In [ ]:
df['description'].str.contains('Artist')

In [ ]:
df['description']

- ì‹œë¦¬ì¦ˆë¡œ ì ‘ê·¼í•´ì„œ ì²˜ë¦¬í•œ í›„ -> ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ê°™ì´ ì—°ê²°í•˜ë©´ ëœë‹¤.

In [ ]:
df=pd.read_csv('movie_rv.csv')

In [ ]:
df

In [ ]:
# êµ¬ë¶„ìë¥¼ ë„£ê³  ì—¬ëŸ¬ ì»¬ëŸ¼ì„ ë‚˜ëˆ ë³´ê¸°!
df['document'].str.split(' ',n=1, expand=True)

In [ ]:
# ë°ì´í„°ë¥¼ 3ê°œ ì´ìƒ ë‚˜ëˆ„ê³  ì‹¶ë‹¤.
df['document'].str.partition(sep=' ')

In [ ]:
# ì •ê·œí‘œí˜„ì‹ìœ¼ë¡œ íŠ¹ì • ë‹¨ì–´ ì¶”ì¶œ
df['document'].str.findall('[ì¬ë¯¸]')

In [ ]:
##ë¦¬ë·°ì— ëŒ€í•œ ìˆ˜ì¹˜ë¥¼ ì‹œê°ì ìœ¼ë¡œ ë³¼ ìˆ˜ ìˆë‹¤.

df['document_len']=df['document'].str.len()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.hist(df['document_len'])

In [ ]:
df.groupby('label')['document_len'].describe()

In [ ]:
df

### ì •í˜•ë°ì´í„°ì™€ëŠ” ë‹¤ë¥´ê²Œ ë¹„ì •í˜•ë°ì´í„°( ë¦¬ë·°ë°ì´í„° ) 
- ì–´ë–¤ ì ì´ ì°¨ì´ê°€ ìˆì„ê¹Œ?

In [ ]:
import seaborn as sns 
sns.load_dataset('titanic').head()

In [ ]:
df.head()

## í…ìŠ¤íŠ¸ ì „ì²˜ë¦¬
- ì˜ë¬¸, í•œêµ­ì–´
- ì˜ë¬¸ë¶€í„° íŒ¨í‚¤ì§€ê°€ì§€ê³  í•™ìŠµí•  ì˜ˆì •
- ìì—°ì–´ì²˜ë¦¬ (NLP) ì¸ê°„ì˜ ì–¸ì–´- > ì»´í“¨í„°ê°€ ì´í•´í•  ìˆ˜ ìˆë„ë¡ ì²˜ë¦¬ë¥¼ í•´ì•¼ í•œë‹¤. ì»´í“¨í„°ê°€ ë¶„ì„í•  ìˆ˜ ìˆë„ë¡ í”„ë¡œê·¸ë˜ë°í•˜ëŠ” ë°©ë²•!

In [16]:
import nltk

In [17]:
#nltk ë¼ì´ë¸ŒëŸ¬ë¦¬ 
nltk.download('punkt')
nltk.download('webtext')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /Users/jun/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package webtext to /Users/jun/nltk_data...
[nltk_data]   Package webtext is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/jun/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/jun/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/jun/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [18]:
'Deep learning is the kind you take with you through the rest of your life.'

'Deep learning is the kind you take with you through the rest of your life.'

- ì „ì²˜ë¦¬ ë‹¨ê³„ 
- í…ìŠ¤íŠ¸ì— ëŒ€í•œ ì „ì²˜ë¦¬ ë‹¨ê³„ 
- ì£¼ì–´ì§„ í…ìŠ¤íŠ¸ì˜ ë…¸ì´ì¦ˆë‚˜ ë¶„ì„ì— ë¶ˆí•„ìš”í•œ ê²ƒë“¤ì´ ë¶„ëª… ì¡´ì¬, ì œê±°í•˜ê³  ë¬¸ì¥ë“¤ì„ ë‚˜ëˆ ì„œ ë¶„ì„í•  ìˆ˜ ìˆë‹¤. í‘œì¤€ ë‹¨ì–´ë‚˜ ì´ëŸ° ê²ƒë“¤ë¡œ ë¶„ë¦¬í•˜ê³ , í’ˆì‚¬ë‚˜ íŒŒì•…í•˜ëŠ” ê²ƒ 
- í•œêµ­ì–´, ì˜ì–´ëŠ” ë‹¤ë¥´ë‹ˆê¹ ì „ì²˜ë¦¬ ì–´ëŠì •ë„ ë‹¤ë¥¼ ê²ƒ

- ì •ì œ : (ì •ê·œí‘œí˜„ì‹ ë“±ìœ¼ë¡œ ë°ì´í„°ì— ë…¸ì´ì¦ˆë¥¼ ì œê±°í•˜ê±°ë‚˜, í•„ìš”í•œ ê²ƒë“¤ë§Œ ì¶”ì¶œí•˜ëŠ” ì‘ì—…)
- í† í°í™” : (ì£¼ì–´ì§„ í…ìŠ¤íŠ¸ë¥¼ ì›í•˜ëŠ” ë‹¨ìœ„ë¡œ ë‚˜ëˆ„ëŠ” ê²ƒ (Token) ë‹¨ì–´ í† í°í™”, ë‹¤ë¥¸ ë°©ë²•ìœ¼ë¡œë„ í† í°ì„ ë‚˜ëˆŒ ìˆ˜ ìˆë‹¤. ë”¥ëŸ¬ë‹ì—ì„œ ì„±ëŠ¥ì„ ì˜¬ë¦¬ê¸° ìœ„í•´ í† í°í™” ì‘ì—… ì§„í–‰)
- ì •ê·œí™” : (ë™ì‚¬ì˜ ë³€í˜•ë“¤, ê³¼ê±°í˜•ì´ë‚˜ ë“±ë“± ê²°êµ­ í•˜ë‚˜ì˜ ë™ì‚¬ì— ì˜ë¯¸), ì–´ê°„ ì¶”ì¶œ, í‘œì œì–´ ì¶”ì¶œ ë“±ìœ¼ë¡œ ì‘ì—…í•  ìˆ˜ ìˆë‹¤.
- í’ˆì‚¬ íƒœê¹… : (ëª…ì‚¬, ëŒ€ëª…ì‚¬, í˜•ìš©ì‚¬ ë“±ë“±) ì•ì„œ í† í°ì„ ë‚˜ëˆ´ìœ¼ë©´ -> ì˜ë¯¸ë¥¼ ë¶€ì—¬í•  ìˆ˜ ìˆë‹¤. í’ˆì‚¬ë¥¼ ì•Œë ¤ì£¼ë©´ì„œ ë” ë§ì€ ì˜ë¯¸ìˆëŠ” ë°ì´í„°ë¥¼ í™•ë³´

In [19]:
df = 'Deep learning is the subset of machine learning methods based on artificial neural networks with representation learning. The adjective "deep" refers to the use of multiple layers in the network. Methods used can be either supervised, semi-supervised or unsupervised.[2]'

In [20]:
df

'Deep learning is the subset of machine learning methods based on artificial neural networks with representation learning. The adjective "deep" refers to the use of multiple layers in the network. Methods used can be either supervised, semi-supervised or unsupervised.[2]'

In [21]:
#ë¬¸ì¥ì— ëŒ€í•œ í† í°í™”
from nltk.tokenize import sent_tokenize

print(sent_tokenize(df))

['Deep learning is the subset of machine learning methods based on artificial neural networks with representation learning.', 'The adjective "deep" refers to the use of multiple layers in the network.', 'Methods used can be either supervised, semi-supervised or unsupervised.', '[2]']

In [22]:
#ë‹¨ì–´ í† í°í™”
from nltk.tokenize import word_tokenize

print(word_tokenize(df))

['Deep', 'learning', 'is', 'the', 'subset', 'of', 'machine', 'learning', 'methods', 'based', 'on', 'artificial', 'neural', 'networks', 'with', 'representation', 'learning', '.', 'The', 'adjective', '``', 'deep', "''", 'refers', 'to', 'the', 'use', 'of', 'multiple', 'layers', 'in', 'the', 'network', '.', 'Methods', 'used', 'can', 'be', 'either', 'supervised', ',', 'semi-supervised', 'or', 'unsupervised', '.', '[', '2', ']']

In [23]:
# íŠ¹ìˆ˜ë¬¸ìë“±ì„ ì²˜ë¦¬í•  ìˆ˜ ìˆë‹¤.
# ì œê±°í•´ ì£¼ëŠ” íŒ¨í‚¤
from nltk.tokenize import WordPunctTokenizer
# íŠ¹ìˆ˜ë¬¸ì ì œê±°
print(WordPunctTokenizer().tokenize(df))

['Deep', 'learning', 'is', 'the', 'subset', 'of', 'machine', 'learning', 'methods', 'based', 'on', 'artificial', 'neural', 'networks', 'with', 'representation', 'learning', '.', 'The', 'adjective', '"', 'deep', '"', 'refers', 'to', 'the', 'use', 'of', 'multiple', 'layers', 'in', 'the', 'network', '.', 'Methods', 'used', 'can', 'be', 'either', 'supervised', ',', 'semi', '-', 'supervised', 'or', 'unsupervised', '.[', '2', ']']

In [24]:
# ì •ê·œí‘œí˜„ì‹ë„ ê°™ì´ í† í¬ë‚˜ì´ì¦ˆ
from nltk.tokenize import RegexpTokenizer

tk= RegexpTokenizer('[\w"]+')

In [25]:
#ë‚´ê°€ ì›í•˜ëŠ” ì •ê·œí‘œí˜„ì‹ì— ë”°ë¼ ë°ì´í„°ê°€ ì „ì²˜ë¦¬ê°€ ì§„í–‰ì´ ë˜ì—ˆë‹¤.
print(tk.tokenize(df))

['Deep', 'learning', 'is', 'the', 'subset', 'of', 'machine', 'learning', 'methods', 'based', 'on', 'artificial', 'neural', 'networks', 'with', 'representation', 'learning', 'The', 'adjective', '"deep"', 'refers', 'to', 'the', 'use', 'of', 'multiple', 'layers', 'in', 'the', 'network', 'Methods', 'used', 'can', 'be', 'either', 'supervised', 'semi', 'supervised', 'or', 'unsupervised', '2']

In [26]:
#ë¶ˆìš©ì–´ ì²˜ë¦¬ (ë…¸ì´ì¦ˆ)
#ì€,ëŠ”,ì´,ê°€ ì˜ë¯¸ê°€ ì—†ë‹¤ê³  ë³´ëŠ” ë‹¨ì–´ë“¤
#ì˜ì–´ë„ ë¶ˆìš©ì–´ì²˜ë¦¬ ì§„í–‰
from nltk.corpus import stopwords #ë¶ˆìš©ì–´ ê°€ì ¸ì˜¤ëŠ” íŒ¨í‚¤ì§€

en_stops=set(stopwords.words('english'))

In [27]:
## ë‹¤ì–‘í•œ íŒ¨í‚¤ì§€ë¥¼ ì‘ìš©í•´ì„œ ì „ì²˜ë¦¬ë¥¼ í•  ìˆ˜ ìˆë‹¤. (ì •ì œ ê°€ëŠ¥)
en_stops

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [28]:
tokens=tk.tokenize(df.lower())

In [29]:
print([word for word in tokens if word not in en_stops]) # ë¶ˆìš©ì–´ì²˜ë¦¬ëŠ” ì œì™¸í•œ ë‹¨ì–´ë§Œ ì „ì²˜ë¦¬ê°€ ê°€ëŠ¥í•˜ë‹¤.

['deep', 'learning', 'subset', 'machine', 'learning', 'methods', 'based', 'artificial', 'neural', 'networks', 'representation', 'learning', 'adjective', '"deep"', 'refers', 'use', 'multiple', 'layers', 'network', 'methods', 'used', 'either', 'supervised', 'semi', 'supervised', 'unsupervised', '2']

In [30]:
df

'Deep learning is the subset of machine learning methods based on artificial neural networks with representation learning. The adjective "deep" refers to the use of multiple layers in the network. Methods used can be either supervised, semi-supervised or unsupervised.[2]'

In [33]:
##í‘œì œì–´ ì¶”ì¶œ
##ë‹¨ì–´ ê¸°ë³¸í˜• ë³€í™˜
##cooking cook, cooks, cookie, cookbooks, ë“±ë“±
from nltk.stem import WordNetLemmatizer

lemm =WordNetLemmatizer()

In [34]:
print(lemm.lemmatize('cooking'))
print(lemm.lemmatize('cookking'))
print(lemm.lemmatize('cookss'))
print(lemm.lemmatize('cooker'))
print(lemm.lemmatize('cookers'))

cooking
cookking
cook
cooker
cooker

In [37]:
##í’ˆì‚¬ íƒœê¹…
##í† í°í™” -> ì •ê·œí™” ê³¼ì • í†µí•´ì„œ ë‚˜ì˜¨ ê²°ê³¼ë¥¼ í˜•íƒœì†Œ ì •ë¦¬í•œ ë‚´ìš©
#í˜•íƒœì†Œë¼ëŠ” ê±´ ì˜ë¯¸ë¥¼ ê°€ì§€ê³  ìˆëŠ” ì‘ì€ ë§ì˜ ë‹¨ìœ„ ë” ë‚˜ëˆ„ê²Œ ë˜ë©´ ë³¸ë˜ ëœ»ì„ ìƒì„ ìˆ˜ ìˆë‹¤.
#í˜•íƒœì†Œ -> í˜•, íƒœì†Œ, í˜•, íƒœ, ì†Œ ì˜ë¯¸ê°€ ì‚¬ë¼ì§„ë‹¤.
#í˜•íƒœì†Œê¹Œì§€ ê°€ì§€ ì•Šë”ë¼ë„, í…ìŠ¤íŠ¸ë§ˆì´ë‹ì—ì„œ í’ˆì‚¬ë¼ëŠ” ê²ƒì„ ì‚¬ìš©í•´ì„œ ì¢€ ë” ì˜ë¯¸ë¥¼ ìƒì§€ ì•Šê³  í•™ìŠµì‹œí‚¬ ìˆ˜ ìˆë‹¤.


## ëª…ì‚¬, ëŒ€ëª…ì‚¬, ë™ì‚¬, í˜•ìš©ì‚¬...  
## ëª…ì‚¬ëŠ” ì–´ë–¤ ì‹ìœ¼ë¡œ ì‚¬ìš©í•˜ëŠ”ì§€, ë™ì‚¬ëŠ” ì–´ë–¤ ì‹ìœ¼ë¡œ ì‚¬ìš©í•˜ëŠ”ì§€ ëª…ì¹­ 

from nltk.tokenize import word_tokenize
tk=word_tokenize('Deep learning is the subset of machine learning methods based on artificial neural networks with representation learning. The adjective "deep" refers to the use of multiple layers in the network. Methods used can be either supervised, semi-supervised or unsupervised')
print(nltk.pos_tag(tk))
##(ë‹¨ì–´, í’ˆì‚¬)

[('Deep', 'JJ'), ('learning', 'NN'), ('is', 'VBZ'), ('the', 'DT'), ('subset', 'NN'), ('of', 'IN'), ('machine', 'NN'), ('learning', 'VBG'), ('methods', 'NNS'), ('based', 'VBN'), ('on', 'IN'), ('artificial', 'JJ'), ('neural', 'JJ'), ('networks', 'NNS'), ('with', 'IN'), ('representation', 'NN'), ('learning', 'NN'), ('.', '.'), ('The', 'DT'), ('adjective', 'JJ'), ('``', '``'), ('deep', 'JJ'), ("''", "''"), ('refers', 'NNS'), ('to', 'TO'), ('the', 'DT'), ('use', 'NN'), ('of', 'IN'), ('multiple', 'JJ'), ('layers', 'NNS'), ('in', 'IN'), ('the', 'DT'), ('network', 'NN'), ('.', '.'), ('Methods', 'NNS'), ('used', 'VBD'), ('can', 'MD'), ('be', 'VB'), ('either', 'RB'), ('supervised', 'VBN'), (',', ','), ('semi-supervised', 'JJ'), ('or', 'CC'), ('unsupervised', 'JJ')]

In [38]:
wt_tag = ['JJ']
jj_tag = [ word for word, tag in nltk.pos_tag(tk) if tag in wt_tag ]

In [39]:
jj_tag

['Deep',
 'artificial',
 'neural',
 'adjective',
 'deep',
 'multiple',
 'semi-supervised',
 'unsupervised']

## í•œê¸€ í˜•íƒœì†Œ ë¶„ì„, í’ˆì‚¬ íƒœê¹… ê°€ëŠ¥í•˜ë‹¤.

In [40]:
## KoNLPy(kkma, twitter, mecab, okt, hannaum)
## í’ˆì‚¬ íƒœê¹…ë“±, ì „ì²˜ë¦¬ íŒ¨í‚¤ì§€ê°€ ë‹¤ì–‘í•˜ë‹¤.
## https://konlpy.org/ko/latest/

from konlpy.tag import Okt

In [41]:
#íŒ¨í‚¤ì§€ë¥¼ ë¶ˆëŸ¬ì˜¤ê¸°!
k = Okt()

#Okt
#morphase(phrase) : í…ìŠ¤íŠ¸ë¥¼ í˜•íƒœë¡œ ë‹¨ìœ„ë¡œ ë¶„ë¦¬
#nouns(phrase) : ëª…ì‚¬ë§Œ ë¶„ë¦¬í•´ì„œ ë³´ì—¬ì¤€ë‹¤.
#pos(phrase) : íƒœê¹…í•´ì„œ ë³´ì—¬ì¤€ë‹¤.

data = '''ğŸŒŸì•ˆë…•í•˜ì„¸ìš” BDA ìš´ì˜ì§„ì…ë‹ˆë‹¤!ğŸŒŸ
ì—¬ë¦„ë°©í•™ì„ ë§ì•„ í•™íšŒì› ì—¬ëŸ¬ë¶„ì˜ ë°ì´í„° ì—­ëŸ‰ì„ ëŠ˜ë¦´ ìˆ˜ ìˆëŠ” ì°ì–´ë¨¹ì–´BDA ë¶€íŠ¸ìº í”„ë¥¼ ì§„í–‰í•©ë‹ˆë‹¤!

ì°ì–´ë¨¹ì–´ BDAëŠ” ë°ì´í„° ì‹œê°í™”, í´ë¼ìš°ë“œ ë“± ë°ì´í„°ì™€ ê´€ë ¨ëœ ì—­ëŸ‰ì„ ê¸°ë¥¼ ìˆ˜ ìˆëŠ” ì›ë°ì´ í´ë˜ìŠ¤ë“¤ë¡œ ì´ë£¨ì–´ì ¸ ìˆìŠµë‹ˆë‹¤!
ìì„¸í•œ ì›ë°ì´ í´ë˜ìŠ¤ëŠ” ì•„ë˜ ì¹´ë“œë‰´ìŠ¤ì—ì„œ í™•ì¸ ê°€ëŠ¥í•©ë‹ˆë‹¤!
ë§ì€ ì°¸ì—¬ ë¶€íƒë“œë¦½ë‹ˆë‹¤~

7ì›” 28ì¼ê¹Œì§€ ì•„ë˜ì˜ êµ¬ê¸€í¼ì— ì‘ë‹µí•´ì£¼ì„¸ìš”!
ì°ì–´ë¨¹ì–´ BDA ëª¨ì§‘ êµ¬ê¸€í¼ : https://forms.gle/K5aSFk463uRPZRqZ9'''

In [42]:
data

'ğŸŒŸì•ˆë…•í•˜ì„¸ìš” BDA ìš´ì˜ì§„ì…ë‹ˆë‹¤!ğŸŒŸ\nì—¬ë¦„ë°©í•™ì„ ë§ì•„ í•™íšŒì› ì—¬ëŸ¬ë¶„ì˜ ë°ì´í„° ì—­ëŸ‰ì„ ëŠ˜ë¦´ ìˆ˜ ìˆëŠ” ì°ì–´ë¨¹ì–´BDA ë¶€íŠ¸ìº í”„ë¥¼ ì§„í–‰í•©ë‹ˆë‹¤!\n\nì°ì–´ë¨¹ì–´ BDAëŠ” ë°ì´í„° ì‹œê°í™”, í´ë¼ìš°ë“œ ë“± ë°ì´í„°ì™€ ê´€ë ¨ëœ ì—­ëŸ‰ì„ ê¸°ë¥¼ ìˆ˜ ìˆëŠ” ì›ë°ì´ í´ë˜ìŠ¤ë“¤ë¡œ ì´ë£¨ì–´ì ¸ ìˆìŠµë‹ˆë‹¤!\nìì„¸í•œ ì›ë°ì´ í´ë˜ìŠ¤ëŠ” ì•„ë˜ ì¹´ë“œë‰´ìŠ¤ì—ì„œ í™•ì¸ ê°€ëŠ¥í•©ë‹ˆë‹¤!\në§ì€ ì°¸ì—¬ ë¶€íƒë“œë¦½ë‹ˆë‹¤~\n\n7ì›” 28ì¼ê¹Œì§€ ì•„ë˜ì˜ êµ¬ê¸€í¼ì— ì‘ë‹µí•´ì£¼ì„¸ìš”!\nì°ì–´ë¨¹ì–´ BDA ëª¨ì§‘ êµ¬ê¸€í¼ : https://forms.gle/K5aSFk463uRPZRqZ9'

In [43]:
print(k.nouns(data))

['ìš´ì˜', 'ì§„ì…', 'ë‹ˆ', 'ì—¬ë¦„ë°©í•™', 'í•™íšŒ', 'ì—¬ëŸ¬ë¶„', 'ë°ì´í„°', 'ì—­ëŸ‰', 'ìˆ˜', 'ë¶€íŠ¸ìº í”„', 'ì§„í–‰', 'ë°ì´í„°', 'ì‹œê°', 'í´ë¼ìš°ë“œ', 'ë“±', 'ë°ì´í„°', 'ê´€ë ¨', 'ì—­ëŸ‰', 'ìˆ˜', 'ì›ë°ì´', 'í´ë˜ìŠ¤', 'ì›ë°ì´', 'í´ë˜ìŠ¤', 'ì•„ë˜', 'ì¹´ë“œ', 'ë‰´ìŠ¤', 'í™•ì¸', 'ì°¸ì—¬', 'ì•„ë˜', 'êµ¬ê¸€', 'í¼', 'ì‘ë‹µ', 'ëª¨ì§‘', 'êµ¬ê¸€', 'í¼']

In [44]:
print(k.pos(data))

[('ğŸŒŸ', 'Foreign'), ('ì•ˆë…•í•˜ì„¸ìš”', 'Adjective'), ('BDA', 'Alpha'), ('ìš´ì˜', 'Noun'), ('ì§„ì…', 'Noun'), ('ë‹ˆ', 'Noun'), ('ë‹¤', 'Josa'), ('!', 'Punctuation'), ('ğŸŒŸ', 'Foreign'), ('\n', 'Foreign'), ('ì—¬ë¦„ë°©í•™', 'Noun'), ('ì„', 'Josa'), ('ë§ì•„', 'Verb'), ('í•™íšŒ', 'Noun'), ('ì›', 'Suffix'), ('ì—¬ëŸ¬ë¶„', 'Noun'), ('ì˜', 'Josa'), ('ë°ì´í„°', 'Noun'), ('ì—­ëŸ‰', 'Noun'), ('ì„', 'Josa'), ('ëŠ˜ë¦´', 'Verb'), ('ìˆ˜', 'Noun'), ('ìˆëŠ”', 'Adjective'), ('ì°ì–´', 'Verb'), ('ë¨¹ì–´', 'Verb'), ('BDA', 'Alpha'), ('ë¶€íŠ¸ìº í”„', 'Noun'), ('ë¥¼', 'Josa'), ('ì§„í–‰', 'Noun'), ('í•©ë‹ˆë‹¤', 'Verb'), ('!', 'Punctuation'), ('\n\n', 'Foreign'), ('ì°ì–´', 'Verb'), ('ë¨¹ì–´', 'Verb'), ('BDA', 'Alpha'), ('ëŠ”', 'Verb'), ('ë°ì´í„°', 'Noun'), ('ì‹œê°', 'Noun'), ('í™”', 'Suffix'), (',', 'Punctuation'), ('í´ë¼ìš°ë“œ', 'Noun'), ('ë“±', 'Noun'), ('ë°ì´í„°', 'Noun'), ('ì™€', 'Josa'), ('ê´€ë ¨', 'Noun'), ('ëœ', 'Verb'), ('ì—­ëŸ‰', 'Noun'), ('ì„', 'Josa'), ('ê¸°ë¥¼', 'Verb'), ('ìˆ˜', 'Noun'), ('ìˆëŠ”', 'Adjective'), ('ì›ë°ì´', 'Noun'), ('í´ë˜ìŠ¤', 'Noun'), ('ë“¤', 'Suffix'), ('ë¡œ', 'Josa'), ('ì´ë£¨ì–´ì ¸', 'Verb'), ('ìˆìŠµë‹ˆë‹¤', 'Adjective'), ('!', 'Punctuation'), ('\n', 'Foreign'), ('ìì„¸í•œ', 'Adjective'), ('ì›ë°ì´', 'Noun'), ('í´ë˜ìŠ¤', 'Noun'), ('ëŠ”', 'Josa'), ('ì•„ë˜', 'Noun'), ('ì¹´ë“œ', 'Noun'), ('ë‰´ìŠ¤', 'Noun'), ('ì—ì„œ', 'Josa'), ('í™•ì¸', 'Noun'), ('ê°€ëŠ¥í•©ë‹ˆë‹¤', 'Adjective'), ('!', 'Punctuation'), ('\n', 'Foreign'), ('ë§ì€', 'Adjective'), ('ì°¸ì—¬', 'Noun'), ('ë¶€íƒë“œë¦½ë‹ˆë‹¤', 'Adjective'), ('~', 'Punctuation'), ('\n\n', 'Foreign'), ('7ì›”', 'Number'), ('28ì¼', 'Number'), ('ê¹Œì§€', 'Foreign'), ('ì•„ë˜', 'Noun'), ('ì˜', 'Josa'), ('êµ¬ê¸€', 'Noun'), ('í¼', 'Noun'), ('ì—', 'Josa'), ('ì‘ë‹µ', 'Noun'), ('í•´ì£¼ì„¸ìš”', 'Verb'), ('!', 'Punctuation'), ('\n', 'Foreign'), ('ì°ì–´', 'Verb'), ('ë¨¹ì–´', 'Verb'), ('BDA', 'Alpha'), ('ëª¨ì§‘', 'Noun'), ('êµ¬ê¸€', 'Noun'), ('í¼', 'Noun'), (':', 'Punctuation'), ('https://forms.gle/K5aSFk463uRPZRqZ9', 'URL')]

In [47]:
df= pd.read_csv('movie_rv.csv')

In [57]:
#naê°’ í™•ì¸
df['document']=df['document'].fillna(0)
df['document']=df['document'].astype(str)

In [62]:
df_sp=df.iloc[:30000]

In [63]:
df_sp

,Unnamed: 0,id,document,label
0,0,9976970,ì•„ ë”ë¹™.. ì§„ì§œ ì§œì¦ë‚˜ë„¤ìš” ëª©ì†Œë¦¬,0
1,1,3819312,í ...í¬ìŠ¤í„°ë³´ê³ ì´ˆë”©ì˜í™”ì¤„....ì˜¤ë²„ì—°ê¸°ì¡°ì°¨ ê°€ë³ì§€ ì•Šêµ¬ë‚˜,1
2,2,10265843,ë„ˆë¬´ì¬ë°“ì—ˆë‹¤ê·¸ë˜ì„œë³´ëŠ”ê²ƒì„ì¶”ì²œí•œë‹¤,0
3,3,9045019,êµë„ì†Œ ì´ì•¼ê¸°êµ¬ë¨¼ ..ì†”ì§íˆ ì¬ë¯¸ëŠ” ì—†ë‹¤..í‰ì ì¡°ì •,0
4,4,6483659,ì‚¬ì´ëª¬í˜ê·¸ì˜ ìµì‚´ìŠ¤ëŸ° ì—°ê¸°ê°€ ë‹ë³´ì˜€ë˜ ì˜í™”!ìŠ¤íŒŒì´ë”ë§¨ì—ì„œ ëŠ™ì–´ë³´ì´ê¸°ë§Œ í–ˆë˜ ì»¤ìŠ¤í‹´ ...,1
...,...,...,...,...
29995,29995,5277532,ã…,1
29996,29996,6308533,ë©˜íƒˆë¶•ê´´...,0
29997,29997,6148618,ë§ˆì§€ë§‰ 2ë¶„ ë‚¨ê²¨ë†“ì€ ë…¸ë˜ ì œëª©ì¢€ ê°€ë¥´ì³ ì£¼ì„¸ìš”~,1
29998,29998,3908341,ì–´ì©Œë©´ ì´ë ‡ê²Œ ì•„ë¦„ë‹¤ìš´ ì˜í™”ë¥¼ ë§Œë“¤ìˆ˜ ìˆì„ê¹Œ...ë³´ëŠ”ë‚´ë‚´ ì°¸ í–‰ë³µí–ˆë‹¤:),1
29999,29999,8435032,ìˆ˜ì‘ì€ ê°œë¿”.. ì§€ë£¨í•œ ì•„ì¼ëœë“œ í˜ëª… ì˜í™”,0

## ë¬¸ì„œì— ëŒ€í•œ ì¹´ìš´íŠ¸ ê¸°ë°˜ìœ¼ë¡œ ìƒê°í•  ìˆ˜ ìˆë‹¤.
- CountVectorizer íŒ¨í‚¤ì§€ë¥¼ ì‚¬ìš©í•˜ë©´ ì‰½ê²Œ ë²¡í„°í™”í•´ì„œ ë°ì´í„°ë¥¼ ì „ì²˜ë¦¬í•  ìˆ˜ ìˆë‹¤.
- {'ì›ë°ì´':3, 'í´ë˜ìŠ¤':2}

In [64]:
from sklearn.feature_extraction.text import CountVectorizer

In [72]:
# ì˜ˆì‹œ ë¦¬ìŠ¤íŠ¸
corpus= [
    'This is the first corpus',
    'This corpus is the second corpus',
    'And this corpus is the third one',
    'Is this the first corpus?'
]

#CountVectorizer
cv=CountVectorizer()

# ë¬¸ì„œë¥¼ ë²¡í„°í™”
X =cv.fit_transform(corpus)

# ë³€í™˜ ê²°ê³¼ë¥¼ ì¶œë ¥
print('corpus ì‚¬ìš©í•œ í”¼ì²˜ëŠ” ë¬´ì—‡ì¸ì§€ í™•ì¸í•˜ëŠ” ê²ƒ!',cv.get_feature_names_out())
print('----')
print('ë‚´ê°€ ì›í•˜ëŠ” ë©”íŠ¸ë¦­ìŠ¤ë¥¼ ë³´ê³  ì‹¶ë‹¤!',X.toarray())

corpus ì‚¬ìš©í•œ í”¼ì²˜ëŠ” ë¬´ì—‡ì¸ì§€ í™•ì¸í•˜ëŠ” ê²ƒ! ['and' 'corpus' 'first' 'is' 'one' 'second' 'the' 'third' 'this']
----
ë‚´ê°€ ì›í•˜ëŠ” ë©”íŠ¸ë¦­ìŠ¤ë¥¼ ë³´ê³  ì‹¶ë‹¤! [[0 1 1 1 0 0 1 0 1]
 [0 2 0 1 0 1 1 0 1]
 [1 1 0 1 1 0 1 1 1]
 [0 1 1 1 0 0 1 0 1]]

- ['and' 'corpus' 'first' 'is' 'one' 'second' 'the' 'third' 'this']
- corpus ì˜ ë¦¬ìŠ¤íŠ¸[0]~[3] ë¦¬ë·°ì— ì¹´ìš´íŒ…ì„ ê³„ì‚°í•´ì„œ -> í–‰ë ¬ ë³€í™˜ì´ ëœë‹¤.

In [69]:
X

<4x9 sparse matrix of type '<class 'numpy.int64'>'
	with 22 stored elements in Compressed Sparse Row format>

In [73]:
## í•œêµ­ì–´ë¡œ ì§„í–‰
corpus_ko=[
    'ì˜¤ëŠ˜ ë‚ ì”¨ëŠ” ë§¤ìš° ì¢‹ìŠµë‹ˆë‹¤',
    'ë‚´ì¼ ë‚ ì”¨ëŠ” ë§¤ìš° ì¢‹ì„ê¹Œìš”',
    'ë‚´ì¼ì€ ë¹„ê°€ ì˜¬ ê²ƒ ê°™ìŠµë‹ˆë‹¤',
    'ëª¨ë‘ ë‚´ì¼ì€ ìš°ì‚°ì„ ì¤€ë¹„í•˜ì„¸ìš”',
    'BDAëŠ” ì´ì œ ê³§ 9ê¸°ë¥¼ ëª¨ì§‘í•©ë‹ˆë‹¤',
    'ìš°ë¦¬ëŠ” ì—´ì‹¬íˆ ê³µë¶€í•©ë‹ˆë‹¤',
    'ìš°ë¦¬ëŠ” ë‚´ì¼ë„ ê³µë¶€í•©ë‹ˆë‹¤'
    ]

In [74]:
#CountVectorizer
cv=CountVectorizer()

# ë¬¸ì„œë¥¼ ë²¡í„°í™”
X =cv.fit_transform(corpus_ko)

# ë³€í™˜ ê²°ê³¼ë¥¼ ì¶œë ¥
print('corpus ì‚¬ìš©í•œ í”¼ì²˜ëŠ” ë¬´ì—‡ì¸ì§€ í™•ì¸í•˜ëŠ” ê²ƒ!',cv.get_feature_names_out())
print('----')
print('ë‚´ê°€ ì›í•˜ëŠ” ë©”íŠ¸ë¦­ìŠ¤ë¥¼ ë³´ê³  ì‹¶ë‹¤!',X.toarray())

corpus ì‚¬ìš©í•œ í”¼ì²˜ëŠ” ë¬´ì—‡ì¸ì§€ í™•ì¸í•˜ëŠ” ê²ƒ! ['9ê¸°ë¥¼' 'bdaëŠ”' 'ê°™ìŠµë‹ˆë‹¤' 'ê³µë¶€í•©ë‹ˆë‹¤' 'ë‚ ì”¨ëŠ”' 'ë‚´ì¼' 'ë‚´ì¼ë„' 'ë‚´ì¼ì€' 'ë§¤ìš°' 'ëª¨ë‘' 'ëª¨ì§‘í•©ë‹ˆë‹¤' 'ë¹„ê°€'
 'ì—´ì‹¬íˆ' 'ì˜¤ëŠ˜' 'ìš°ë¦¬ëŠ”' 'ìš°ì‚°ì„' 'ì´ì œ' 'ì¢‹ìŠµë‹ˆë‹¤' 'ì¢‹ì„ê¹Œìš”' 'ì¤€ë¹„í•˜ì„¸ìš”']
----
ë‚´ê°€ ì›í•˜ëŠ” ë©”íŠ¸ë¦­ìŠ¤ë¥¼ ë³´ê³  ì‹¶ë‹¤! [[0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 0 0]
 [0 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0]
 [0 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 1]
 [1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0]
 [0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0]
 [0 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0]]

In [75]:
## í•œêµ­ì–´ë¡œ ì§„í–‰
corpus_ko=[
    'ì˜¤ëŠ˜ ë‚ ì”¨ëŠ” ë§¤ìš° ì¢‹ìŠµë‹ˆë‹¤',
    'ë‚´ì¼ ë‚ ì”¨ëŠ” ë§¤ìš° ì¢‹ì„ê¹Œìš”',
    'ë‚´ì¼ì€ ë¹„ê°€ ì˜¬ ê²ƒ ê°™ìŠµë‹ˆë‹¤',
    'ëª¨ë‘ ë‚´ì¼ì€ ìš°ì‚°ì„ ì¤€ë¹„í•˜ì„¸ìš”',
    'BDAëŠ” ì´ì œ ê³§ 9ê¸°ë¥¼ ëª¨ì§‘í•©ë‹ˆë‹¤',
    'ìš°ë¦¬ëŠ” ì—´ì‹¬íˆ ê³µë¶€í•©ë‹ˆë‹¤',
    'ìš°ë¦¬ëŠ” ë‚´ì¼ë„ ë‚´ì¼ë˜ ê³µë¶€í•©ë‹ˆë‹¤'
    ]

In [76]:
#CountVectorizer
cv=CountVectorizer()

# ë¬¸ì„œë¥¼ ë²¡í„°í™”
X =cv.fit_transform(corpus_ko)

# ë³€í™˜ ê²°ê³¼ë¥¼ ì¶œë ¥
print('corpus ì‚¬ìš©í•œ í”¼ì²˜ëŠ” ë¬´ì—‡ì¸ì§€ í™•ì¸í•˜ëŠ” ê²ƒ!',cv.get_feature_names_out())
print('----')
print('ë‚´ê°€ ì›í•˜ëŠ” ë©”íŠ¸ë¦­ìŠ¤ë¥¼ ë³´ê³  ì‹¶ë‹¤!',X.toarray())

corpus ì‚¬ìš©í•œ í”¼ì²˜ëŠ” ë¬´ì—‡ì¸ì§€ í™•ì¸í•˜ëŠ” ê²ƒ! ['9ê¸°ë¥¼' 'bdaëŠ”' 'ê°™ìŠµë‹ˆë‹¤' 'ê³µë¶€í•©ë‹ˆë‹¤' 'ë‚ ì”¨ëŠ”' 'ë‚´ì¼' 'ë‚´ì¼ë„' 'ë‚´ì¼ë˜' 'ë‚´ì¼ì€' 'ë§¤ìš°' 'ëª¨ë‘'
 'ëª¨ì§‘í•©ë‹ˆë‹¤' 'ë¹„ê°€' 'ì—´ì‹¬íˆ' 'ì˜¤ëŠ˜' 'ìš°ë¦¬ëŠ”' 'ìš°ì‚°ì„' 'ì´ì œ' 'ì¢‹ìŠµë‹ˆë‹¤' 'ì¢‹ì„ê¹Œìš”' 'ì¤€ë¹„í•˜ì„¸ìš”']
----
ë‚´ê°€ ì›í•˜ëŠ” ë©”íŠ¸ë¦­ìŠ¤ë¥¼ ë³´ê³  ì‹¶ë‹¤! [[0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 0]
 [0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0]
 [0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 1]
 [1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0]
 [0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0]
 [0 0 0 1 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0]]

In [77]:
#ë¶ˆìš©ì–´ ì¶”ê°€í•˜ê¸°!
stop_words = ['bdaëŠ”']

In [78]:
#CountVectorizer
cv=CountVectorizer(stop_words = stop_words)

# ë¬¸ì„œë¥¼ ë²¡í„°í™”
X =cv.fit_transform(corpus_ko)

# ë³€í™˜ ê²°ê³¼ë¥¼ ì¶œë ¥
print('corpus ì‚¬ìš©í•œ í”¼ì²˜ëŠ” ë¬´ì—‡ì¸ì§€ í™•ì¸í•˜ëŠ” ê²ƒ!',cv.get_feature_names_out())
print('----')
print('ë‚´ê°€ ì›í•˜ëŠ” ë©”íŠ¸ë¦­ìŠ¤ë¥¼ ë³´ê³  ì‹¶ë‹¤!',X.toarray())

corpus ì‚¬ìš©í•œ í”¼ì²˜ëŠ” ë¬´ì—‡ì¸ì§€ í™•ì¸í•˜ëŠ” ê²ƒ! ['9ê¸°ë¥¼' 'ê°™ìŠµë‹ˆë‹¤' 'ê³µë¶€í•©ë‹ˆë‹¤' 'ë‚ ì”¨ëŠ”' 'ë‚´ì¼' 'ë‚´ì¼ë„' 'ë‚´ì¼ë˜' 'ë‚´ì¼ì€' 'ë§¤ìš°' 'ëª¨ë‘' 'ëª¨ì§‘í•©ë‹ˆë‹¤' 'ë¹„ê°€'
 'ì—´ì‹¬íˆ' 'ì˜¤ëŠ˜' 'ìš°ë¦¬ëŠ”' 'ìš°ì‚°ì„' 'ì´ì œ' 'ì¢‹ìŠµë‹ˆë‹¤' 'ì¢‹ì„ê¹Œìš”' 'ì¤€ë¹„í•˜ì„¸ìš”']
----
ë‚´ê°€ ì›í•˜ëŠ” ë©”íŠ¸ë¦­ìŠ¤ë¥¼ ë³´ê³  ì‹¶ë‹¤! [[0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 0]
 [0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0]
 [0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0]
 [0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0]
 [0 0 1 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0]]

In [79]:
X
## 7x20 
## 7ê°œì˜ ë¬¸ì„œì˜ ì˜ë¯¸ ì¦‰ ìœ„ì— í…ìŠ¤íŠ¸ì˜ ì˜ë¯¸
## 20 ê³ ìœ  ë‹¨ì–´ ìˆ˜ë¡œ ë²¡í„°í™”ëœ íŠ¹ì§• ìˆ˜ 
## í–‰ë ¬ì—ì„œ 0ì´ ì•„ë‹Œ ìš”ì†Œì˜ ìˆ˜ë¥¼ 7* 20 = 140 ì „ì²´
## 25 0ì´ ì•„ë‹Œ ìš”ì†Œê°€ 25ê°œ, ë‚˜ë¨¸ì§€ëŠ” ëª¨ë‘ 0ì´ë‹¤.
## í¬ì†Œí•œì§€ì˜ ë¹„ìœ¨ 0ì˜ ë¹„ìœ¨

<7x20 sparse matrix of type '<class 'numpy.int64'>'
	with 25 stored elements in Compressed Sparse Row format>

In [80]:
140-25

115

In [81]:
#0ì˜ í¬ì†Œì— ëŒ€í•œ ë¹„ìœ¨ ê³„ì‚°
115/140

0.8214285714285714

### Bow ( Bag of Words ) ë§ë­‰ì¹˜ì— í•œê³„ê°€ ìˆì–´ì„œ -> TF-IDFì˜ ë°©ì‹ì„ ì‚¬ìš©í•œë‹¤.

- ì¹´ìš´íŠ¸ ë²¡í„°ëŠ” ë¹ˆë„ê°€ ë†’ì„ìˆ˜ë¡ ì¤‘ìš”í•œ ë‹¨ì–´ ì•„ë‹Œê°€? 
- ëª¨ë“  ë¬¸ì„œì— ë™ì¼í•˜ê²Œ íŠ¹ì • í‚¤ì›Œë“œê°€ ê³„ì† ë‚˜ì˜¤ë©´ ì´ê²Œ ê³¼ì—° ì¤‘ìš”í•œ ê±´ê°€?
- ì—¬ëŸ¬ë¶„, ì—¬ëŸ¬ë¶„ ì—¬ëŸ¬ë¶„, ë‹¨ìˆœí•˜ê²Œ ì¹´ìš´íŒ…ìœ¼ë¡œ ë´ì„œ ë¹ˆë„ê°€ ë†’ìœ¼ë©´ ë‹¤ ì¤‘ìš”í•œê°€?

- ë‹¨ì–´ê°€ ë” ë§ì€ ë¬¸ì„œì—ì„œ ë‚˜íƒ€ë‚ ìˆ˜ë¡ ì˜¤íˆë ¤ ê·¸ ë‹¨ì–´ëŠ” ë³„ë¡œ ì¤‘ìš”í•˜ì§€ ì•Šë‹¤. 
- TF-IDF ( Term Frequency - Inverse Document Frequency ) ë‹¨ì–´ë¹ˆë„ - ì—­ë¬¸ì„œë¹ˆë„